* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-image: url("./img/unsplash_Xaanw0s0pMk.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
}

button {
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  margin: 5px 0;
  background-color: rgb(164, 198, 228);
  width: 450px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
li span{
    cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
#sort-buttons {
  margin-top: 30px;
}
